
<!-- <div *ngIf="isValid; else templateName">
  Here is never showing
</div> -->
<!-- 
<ng-template #templateName>
  If isValid is true
</ng-template> -->



<!-- <div *ngIf="isValid; then templateName else newTempla">
  Here is never showing
</div>

<ng-template #templateName>
  If isValid is true
</ng-template>

<ng-template #newTempla>
  newTempla shows
</ng-template> -->




<!-- <app-forms></app-forms> -->


<!-- <app-child-view></app-child-view> -->



<!-- https://api.first.org/data/v1/countries -->

<!-- https://images.dog.ceo/breeds/collie-border/n02106166_2458.jpg -->




<div *ngFor="let country of countries">

  {{country}}
</div>



